.details {
  height: 100vh;
  width: 100vw;
}
.details-holder {
  height: 100vh;

}
.details-image {
  height: 80vh;
  position: absolute;
  left: 50%;
}
.details-linkback{

   position: absolute;
 right: 0;
 top: 0;
}
