.viewport {
  // border: 1px solid red !important;
  height: 120vh;
  overflow: hidden;
  // background-image: url('../../public/images/Frame\ _4.jpg');

  //   background-repeat: no-repeat;
  //   background-size: 110vw auto;

  // .wrapper-1 {
  //   position: sticky;
  //   top: 0;
  //   left: 0;
  //   height: 100vh;
  //   // border: solid 3px rgb(11, 247, 66);
  // }
  // .wrapper-2 {
  //   position: sticky;
  //   top: 0;
  //   left: 30vw;
  //   width: auto;
  //   height: 100vh;
  //   // border: solid 3px rgb(247, 11, 102);
  // }
  // .wrapper-3 {
  //   position: sticky;
  //   top: 0;
  //   left: 75.7vw;
  //   // width: 35vw;
  //   height: 100vh;
  //   // border: solid 3px rgb(11, 176, 247);
  // }
  .wrapbox-1 {
    position: sticky;
    top: 0;
        left: 0;
    // border: 1px solid black;
    // background-color: rgb(74, 177, 203);
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-2 {
    position: sticky;
    top: 0;
    left: 10%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
  }
  .wrapbox-3 {
    position: sticky;
    top: 0;
    left: 20%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-4 {
    position: sticky;
    top: 0;
    left: 30%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-5 {
    position: sticky;
    top: 0;
    left: 40%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-6 {
    position: sticky;
    top: 0;
    left: 50%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;

    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-7 {
    position: sticky;
    top: 0;
    left: 59.9%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-8 {
    position: sticky;
    top: 0;
    left: 69.9%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-9 {
    position: sticky;
    top: 0;
    left: 79.9%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }
  .wrapbox-10 {
    position: sticky;
    top: 0;
    left: 90%;
    // background-color: rgb(74, 177, 203);
    // border: 1px solid black;
    height: 100%;
    width: 0%;
    transform: scaleX(0);
  }



   .viewportbox-1 {
   background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -11vw -15vh;
  }
  .viewportbox-2 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -21vw -15vh;
  }
  .viewportbox-3 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -31vw -15vh;
  }
  .viewportbox-4 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -41vw -15vh;
  }
  .viewportbox-5 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -51vw -15vh;
  }
  .viewportbox-6 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
     background-size: 120vw auto;
    background-position: -61vw -15vh;
  }
  .viewportbox-7 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
      background-size: 120vw auto;
    background-position: -71vw -15vh;
  }
  .viewportbox-8 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120vw auto;
    background-position: -81vw -15vh;
  }
  .viewportbox-9 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
     background-size: 120vw auto;
    background-position: -91vw -15vh;
  }
  .viewportbox-10 {
    background-image: url('../../public/images/FrameS.jpg');
    height: 100%;
    background-repeat: no-repeat;
     background-size: 120vw auto;
    background-position: -100.99vw -15vh;
  }

  // .viewport-left {
  //   background-image: url('../../public/images/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg');
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 110vw auto;
  //   background-position: 0vw -30vh;
  // }
  // .viewport-middle {
  //   background-image: url('../../public/images/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg');
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 110vw auto;
  //   background-position: -30vw -30vh;
  // }
  // .viewport-right {
  //   background-image: url('../../public/images/alice-donovan-rouse-yu68fUQDvOI-unsplash.jpg');
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-size: 110vw auto;
  //   background-position: -75.5vw -30vh;
  // }
}