.gallery{
    height: 100vh;
    // background-image: url('../../public/img/template.jpg');
    // background-size: cover;
    // // background-color: #FAFAC8;
     background-color: #eff0e8;
     
}
.gallery-element{
    width: 27vw;
    height: auto;

//       -webkit-box-shadow: 8px 12px 22px 0px rgba(171,166,144,0.91); 
// box-shadow: 8px 12px 22px 0px rgba(171,166,144,0.91);

// -webkit-box-shadow: 8px 12px 22px 0px rgba(209,203,176,0.91); 
// box-shadow: 8px 12px 22px 0px rgba(209,203,176,0.91);



}
.gallery-image{
    
    background-color: #fff;
  -webkit-box-shadow: 31px 21px 22px 0px rgba(209,203,176,0.91); 
box-shadow: 31px 21px 22px 0px rgba(209,203,176,0.91); 
  
// -webkit-box-shadow: 12px 17px 19px 1px #D1CA92; 
// box-shadow: 12px 17px 19px 1px #D1CA92;
} 
.gallery-text{
    border-bottom: 2px solid rgba(223, 207, 138, 0.5);
    width: 20vw;
}

 a:link {
      text-decoration: none;
 
    }
