.mainWrapper {
  height: 100%;
  width: 100vw;

}

.itemA {
  background-image: url(../../public/images/_DSC6095.JPG);
background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}
.itemB {
  background-image: url(../../public/images/_DSC6096.JPG);
  background-position: center;
  background-size: contain;
background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.itemC {
  background-image: url(../../public/images/_DSC6097.JPG);
  background-size: contain;
  background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 100vw;
}
.itemD {
  background-image: url(../../public/images/_DSC6098.JPG);
  background-size: contain;
  background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 100vw;
}
.itemE {
  background-image: url(../../public/images/_DSC6099.JPG);
  background-size: contain;
  background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 100vw;
}
.itemF {
  background-image: url(../../public/images/_DSC6100.JPG);
  background-size: contain;
  background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 100vw;
}
.itemG {
  background-image: url(../../public/images/_DSC6101.JPG);
  background-size: contain;
  background-repeat: no-repeat;
    background-position: center;
  height: 100vh;
  width: 100vw;
}
.mainHolderImg{
  height: 100vh; 


}
.mainImg{
    height: 100vh;  
    position: absolute;
  
}
