.mainWrapper {
  height: 100vh;
  width: 100vw;
  background-color: #eff0e8;
}

.mainHolderImg {
  height: 100vh;

  position: relative;
}
.mainImg {
  height: 90vh;
  position: absolute;
  top: 4vh;
}
.main-text-holder {
  height: 100vh;
  width: 100%;

}
.main-text{
   background-image: url('../../public/img/paper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
 
}
.main-holder {
  height: 45vh;

  // border: 1px solid rgb(3, 201, 201);

  background-image: url('../../public/img/PencilsA.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.85;
}
.main-papier {
  width: 65.5vw;
  position: absolute;
  top: 4vh;
  left: 25vw;
  // border: 1px solid rgb(3, 201, 201);
  height: 90vh;



  background-image: url('../../public/images/_DSC60951.JPG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


  -webkit-box-shadow: 3px 6px 15px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 3px 6px 15px -4px rgba(0, 0, 0, 0.42);
}
