@font-face {
  font-family: 'Crystal Sky';
  src: url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot');
  src: url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8af97cecee46cf941adf95ac77ce2ad0.svg#')
      format('svg');
}

.viewport {
  height: 106vh;
  overflow: hidden;
  position: relative;

  background-color: #eff0e8;
}
.viewport-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  z-index: 1;
}
.vieport-right {
  height: 45vh;

  .vieport-right-first {
    background-image: url('/public/images/_DSC60951.JPG');
    background-repeat: no-repeat;
    background-size: 52vw auto;
    background-position: -15vw -14vh;

    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 80%, 0 0);
    opacity: 0.7;
    height: 10vh;
    -webkit-box-shadow: inset 13px 12px 23px 0px #572714;
    box-shadow: inset 13px 12px 23px 0px #572714;
  }
  .vieport-right-second {
    height: 26vh;

    .vieport-right-second-RT {
      background-image: url('/public/images/_DSC60951.JPG');
      background-repeat: no-repeat;

      background-size: 52vw auto;
      background-position: -20.8vw -26vh;
      opacity: 0.6;
      -webkit-box-shadow: 13px 12px 23px 0px #572714;
      box-shadow: 13px 12px 23px 0px #572714;
    }
    .vieport-right-second-RB {
      height: 11.3vh;
      background-image: url('/public/images/_DSC60951.JPG');
      background-repeat: no-repeat;
      background-size: 52vw auto;
      background-size: 52vw auto;
      background-position: -21.4vw -39.5vh;

      border-bottom-right-radius: 10%;

      -webkit-box-shadow: 13px 12px 23px 0px #572714;
      box-shadow: 13px 12px 23px 0px #572714;
    }
  }
}
.viewport-left {
  height: 50vh;
}
.viewport-placeholder {
  height: 13vh;
}

.wrapbox-1 {
  position: sticky;
  top: 0;
  left: 0;
  // border: 1px solid black;
  // background-color: rgb(74, 177, 203);
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-2 {
  position: sticky;
  top: 0;
  left: 10%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
}
.wrapbox-3 {
  position: sticky;
  top: 0;
  left: 20%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-4 {
  position: sticky;
  top: 0;
  left: 30%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-5 {
  position: sticky;
  top: 0;
  left: 40%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-6 {
  position: sticky;
  top: 0;
  left: 50%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;

  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-7 {
  position: sticky;
  top: 0;
  left: 59.9%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-8 {
  position: sticky;
  top: 0;
  left: 69.9%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-9 {
  position: sticky;
  top: 0;
  left: 79.9%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}
.wrapbox-10 {
  position: sticky;
  top: 0;
  left: 90%;
  // background-color: rgb(74, 177, 203);
  // border: 1px solid black;
  height: 100%;
  width: 0%;
  transform: scaleX(0);
}

.viewportbox-1 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -11vw -22vh;
}
.viewportbox-2 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -21vw -22vh;
}
.viewportbox-3 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -31vw -22vh;
}
.viewportbox-4 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -41vw -22vh;
}
.viewportbox-5 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -51vw -22vh;
}
.viewportbox-6 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;
  background-position: -61vw -22vh;
}
.viewportbox-7 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 120vw auto;
  background-size: 111vw auto;
  background-position: -71vw -22vh;
}
.viewportbox-8 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;

  background-position: -81vw -22vh;
}
.viewportbox-9 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;

  background-position: -91vw -22vh;
}
.viewportbox-10 {
  background-image: url('../../public/images/Frame\ _3A.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: 111vw auto;

  background-position: -100.99vw -22vh;
}
